<!DOCTYPE html>
    <head>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/admin.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>Admin</h1>
        <div id="mediaTbl"></div>
        <div>
            <form id="insertData">
                <input type="text" name="artist" value="Artist" />
                <input type="text" name="title" value="Title" />
                <input type="text" name="publish_date" value="Publish Date" />
                <input type="text" name="url" value="URL" />
                <input type="button" name="submitBtn" id="submitBtn" value="Save" />
            </form>
        </div>
    </body>
</html>
